<div class="container">
  <h1>All our Flats</h1>

  <div class="row">
    <div class="col">
        <p>All 4 flats.</p>
    </div>
  </div>

  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-4">
        <div class="flat-card">
          <img src="https://source.unsplash.com/photos/gJFvHkUHdSI">
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4><%= flat.name%></h4>
            </div>
            <p><%= flat.address%></p>
            <div class="flex">
              <div class="flex">
                <i class="material-icons mr-2">👥</i><span><%= flat.number_of_guests%></span>
              </div>
              <div class="flex ml-3">
                <i class="material-icons mr-2">€</i> <%= flat.price_per_night%>
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <a href="/flats/flat.id">More info</a>
            <a class="ml-3 text-warning" href="/flats/flat.id/edit">Edit</a>
            <a data-confirm="Are you sure?" class="ml-3 text-danger" rel="nofollow" data-method="delete" href="/flats/flat.id">Remove</a>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
